:root {
    --border-style: 3px solid black;
}
* {
    box-sizing: border-box;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#container {
    position: relative;
}
h1 {
    font-size: 60px;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 300;
}

.board.hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 400ms, opacity 400ms ease;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell-1, .cell-4, .cell-7 {
    border-right: var(--border-style);
}

.cell-1, .cell-2, .cell-3 {
    border-bottom: var(--border-style);
}

.cell-3, .cell-6, .cell-9{
    border-left: var(--border-style);
}

.cell-7, .cell-8, .cell-9{
    border-top: var(--border-style);
}

.board img {
    animation: appear 500ms;
}


@keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
.filter-1 {
    width: 200px;
    filter: invert(89%) sepia(5%) saturate(5502%) hue-rotate(170deg) brightness(91%) contrast(98%);
}

.filter-2 {
    width: 70px;
    filter: invert(52%) sepia(75%) saturate(1850%) hue-rotate(1deg) brightness(100%) contrast(105%);
}

.scoreboard {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 500px;
    margin: 20px;
}

.playerone, .playertwo {
    width: 180px;
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
    transition: border 500ms ease;
}

#blink {
    animation: blinker 400ms step-start 3;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
}


.message {
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 0%;
    left: 5%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 800ms ease-in;
}

.message.show {
    visibility: visible;
    opacity: 1;
    transition-delay: 200ms;
}

.hidden {
    display: none;
}
.message div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.message #o {
    width: 100px;
}
.message #x{
    width: 140px;
}
.message h1 {
    font-size: 60px;
}

.restart {
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: aquamarine;
    font-size: 20px;
    transition: 100ms linear;
    cursor: pointer;
}

.restart:hover {
    font-size: 22px;
}